<!DOCTYPE html>
<html class="wf-initial-load">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>fTAILS on Fantom</title>			
			<meta name="description" content="Ftails on Fantom
                Token Tooling
                Blockchain Gaming
                Tails Ecosystem">
			<meta name="twitter:card" content="summary_large_image">
			<meta name="twitter:title" content="fTAILS on Fantom">
			<meta name="twitter:description" content="
                Ftails on Fantom
                Token Tooling
                Blockchain Gaming
                Tails Ecosystem">
			<meta name="twitter:image" content="screenshot-1559497520.jpg">
			<meta property="og:title" content="fTAILS on Fantom">
			<meta property="og:description" content="
                Ftails on Fantom
                Token Tooling
                Blockchain Gaming
                Tails Ecosystem">
			<meta property="og:url" content="https://tailsftm.com">
			<meta property="og:image" content="screenshot-1559497520.jpg">
			<meta property="og:type" content="website">
            <link rel="stylesheet" type="text/css" href="css/index.css">
            <style>
                @font-face {
                    font-family: "Golos Text";
                    src: url("/fonts/golos.ttf") format("truetype");
                }
                @font-face {
                    font-family: "Manrope";
                    src: url("/fonts/manrope.ttf") format("truetype");
                }
            </style>
    </head>
    <body class="">
        <div class="ripple content" style="height: 100%;">
            <div class="page-layout" style="
                display: flex;
                flex-direction: column;
                height: 95%;
                justify-content: space-between;
            ">
                <div class="page-title" style="margin: 3em;">
                    <h2 style="display: inline-block; background-color: rgb(255, 255, 255, 0);font-family: 'Manrope'">
                        Only on Fantom
                    </h2>
                </div>
                <div class="page-content" style="width: 100%; font-family: 'Golos Text';"> 
                    <div id="navigation-container" >
                        <h2 style="font-family: 'Manrope'; margin-bottom: 1em;">
                            Navigation
                        </h2>
                        <ul style="margin-bottom: 1em;">
                            <li>
                                ☁️  Tails SkyTrails Game ☁️ (coming soon)
                            </li>
                            <li>
                                📈
                                <a href="https://dexscreener.com/fantom/0xe9ece32363575e67aed463d2fb4e77a8294b004c" target="_blank">
                                    <u>Chart</u>
                                </a>
                            </li>
                            <li>
                                🗒️
                                <a href="https://ftmscan.com/token/0x5cF90b977C86415a53CE3B7bE13b26f6abdDfee2" target="_blank">
                                    <u>FTM Scan Contract</u>
                                </a>
                            </li>
                            <li>
                                💬
                                <a href="https://t.me/tailsftm" target="_blank">
                                    <u>Telegram Chat</u>
                                </a>
                            </li>
                            <li>
                                🐦
                                <a href="https://twitter.com/TailsFTM" target="_blank">
                                    <u>Twitter/X</u>
                                </a>
                            </li>
                            <li>
                                🧳
                                <a href="https://ftmscan.com/tx/0x7693947fc41ebc8867b9811ac87903cf5fa6dc2f50cc4f91359c80a30787c63d" target="_blank">
                                    <u>LP Lock</u>
                                </a>
                            </li>
                        </ul>
                        <text-icon icon="checkmark"></text-icon>  100% LP Locked<br />
                        <text-icon icon="checkmark"></text-icon>  Contract Renounced</span>
                        <br /><br />
                        <a
                            class="button-10"
                            href="https://v3.spooky.fi/#/swap?outputCurrency=0x5cF90b977C86415a53CE3B7bE13b26f6abdDfee2"
                            style="filter: drop-shadow(0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.25)); will-change: filter; display: inline-block; border-color: #000000;"
                            target="_blank">
                                BUY NOW 🛒
                        </a>
                        <br /><br /><br />
                        <span class="button-11" style="--font-scale: 1.1;">
                            <b>
                                <a href="https://ftailsdeploy.netlify.app/" target="_blank">
                                    fTails Token Tool ⚙️
                                </a>
                            </b>
                        </span>
                    </div>
                </div>
                <div class="page-footer">
                    <span class="caption" style="font-family: 'Manrope'; padding: 3em;">
                        Trading is at your own risk — fTAILS assumes no responsibility for token trading gains or losses
                    </span>
                </div>
            </div>
        </div>
    </div>
	</body>
</html>
